<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование человека</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${users.getId()})}" th:object="${users}">
    <label for="name">Enter name:</label>
    <input th:type="text" th:field="*{name}" id="name"/>
    <br>
    <label for="lastname">Enter lastname:</label>
    <input th:type="text" th:field="*{lastname}" id="lastname"/>
    <br>
    <label for="age">Enter age:</label>
    <input th:type="text" th:field="*{age}" id="age"/>
    <br>
    <label for="email">Enter email:</label>
    <input th:type="text" th:field="*{email}" id="email"/>
    <br>
    <label for="password">Enter password:</label>
    <input th:type="text" th:field="*{password}" id="password"/>
    <br>
    <label for="roles">Enter roles:</label>
    <input th:type="text" th:field="*{roles}" id="roles"/>
    <br>
    <input type="submit" value="Update!"/>
</form>

</body>
</html>