<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table border="1" width="50%">
    <thead>
    <tr>
        <h1 th colspan="2">Cars</th></h1>
    </tr>
    </thead>
    <thead>
    <tr>
        <th scope="col">brand</th>
        <th scope="col">model</th>
        <th scope="col">color</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="cr : ${cars}">
        <td th:text="${cr.brand}"/>
        <td th:text="${cr.model}"/>
        <td th:text="${cr.color}"/>
    </tr>
    </tbody>
</table>
</body>
</html>
